* {
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
}

.App {
  font-family: 'Arial', sans-serif;
}

.App-header {
  position: relative;
  height: 120px;
  padding: 20px;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  height: 70px;
}

.back-button {
  background: none;
  border: none;
  color: #348485;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 25px;
}

.App-header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 40px;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(90vh - 200px);
  text-align: center;
  padding: 0 20px;
}

main h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

/* main h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
} */

main h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
}

/* Grid with 3 buttons per row */
.industry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  margin-bottom: 20px;
}

.industry-button {
  background-color: white;
  border: 2px solid #0073e6;
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  max-width: 200px;
  transition: background-color 0.2s;
}

.industry-button:hover {
  background-color: #e6f0fa;
}

.search-button {
  background-color: #fff;
  color: #1c75bc;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}